<h3> Ouvintes Conectados </h3>
<div id="users"></div>
<div id="submit-form">
	<input type="text" id="name_user" placeHolder="Name">
	<input type="text" id="email_user" placeHolder="Email">
	<button id='updateUsers'>Update</button>
</div>