<h3> Ouvintes Conectados </h3>
<div id="users"></div>
<div id="submit-create">
	<input type="email" id="name_user" placeHolder="Name">
	<input type="text" id="email_user" placeHolder="Email">
	<button id='createUser'>Create</button>
</div>

<div id="submit-update">
	<input type="text" id="id_user" placeHolder="ID">
	<input type="text" id="email_user" placeHolder="Email">
	<button id='updateUser'>Update</button>
</div>