<section id="listeners" data-session_id="<%= session.id %>">
  <header class="page-header">
    <h3>Ouvintes Conectados</h3>
  </header>

  <table id="table-listeners"  data-show-refresh="true" ></table>

</section>
