<h3><center>Ouvintes Conectados</center></h3>
<hr>
<table id="table-listeners"  data-show-refresh="true" data-row-style="height: 450px" ></table>

<h4> Ações para teste </h4> 
<div id="submit-create">
	<input type="email" id="name_user" placeHolder="Name">
	<input type="text" id="email_user" placeHolder="Email">
	<input type="text" id="password_user" placeHolder="Password">
	<button id='createUser' class="btn btn-default">Create</button>
</div>
<br>
<div id="submit-update">
	<input type="text" id="id_user" placeHolder="ID">
	<input type="text" id="newname_user" placeHolder="Novo nome">
	<button id='updateUser'>Update</button>
</div>
<br>
<div id="submit-signin">
	<input type="text" id="em_user" placeHolder="Email">
	<input type="password" id="pass_user" placeHolder="Senha">
	<button id='signin'>Sign in!</button>
</div>
<br>
<div id="submit-signout">
	<input type="text" id="user_id" placeHolder="ID User">
	<button id='signout'>Sign out!</button>
</div>

