<form  action="/speaker/update/password" style="padding-top: 20px" id="form_update_password" method="POST">
	<div id="showMyAccount" style="padding-top: 20px">
		<div class="form-group old_password">
		  <label for="old_password"><%= i18n("title_old_password") %>:</label>
		  <input type="password" class="form-control" name="old_password" id="old_password" value="">
		  <span class="span_old_password"></span>
		<div class="form-group new_password">
		  <label for="new_password"><%= i18n("title_new_password") %>:</label>
		  <input type="password" class="form-control" name="new_password" id="new_password" value="">
		  <span class="span_new_password"></span>
		</div>
		<div class="form-group confirm_password">
		  <label for="confirm_password"><%= i18n("title_confirm_password") %>:</label>
		  <input type="password" class="form-control" name="confirm_password" id="confirm_password" value="">
		   <span class="span_confirm_password"></span>
		</div>

		<div class="form-group">
		    <button type="button" class="btn btn-primary btn-lg btn-block btn-sm submit-update-password"><%= i18n("label_save") %></button>
		</div>
	</div>
</form>