<section>
	<header class="page-header text-center"><h3>Edição Questão/Alternativas</h3></header>
	<div class="row">
		<article>
			<div class="alternatives">
				<div class="form-group question-group well">
					<label>Título Enquete: <%= poll.title %> </label>
					<p>
						<small>Description: <%= poll.description %></small>
					</p>
				</div>
				<% var poll_id = poll.id || poll.poll_id %>
				<%- partial('_form_to_alternatives', {action: '/speaker/sessions/'+session.id+'/polls/'+poll_id+'/alternatives', disabledKey: ''}) %>
			</div>
		</article>
	</div>
</section>
