<section id="quiz_config">
  <h2 class="page-header text-center">Configuração QUIZ - Questões</h2>
  <article >
    <div  class="row">
      <div class="col-xs-4 col-md-2"></div>
      <div class="col-xs-12 col-md-8">
        <%- partial ('quiz_info', {quiz:quiz}) %>
        <%- partial ('_buttons_options') %>
        <hr>
        <%- partial ('table_questions', {quiz:quiz}) %>
      </div>
      <div class="col-xs-4 col-md-2"></div>
    </div> 
  </article>
</section>


