<div id="img_logo">
	<img src="<%- path %>" height="<%- height %>" width="<%- width %>" alt="Logo Mobilectures" class="logo"> 
	<label class="label_mobilectures" style="color: <%- color %>;"> Mobilectures </label>
</div>