<div class="container">
	<div class="page-header" >
		<div class="row">
			<div class="col-sm-4 ">
				<%- partial('logo', {path:'../../../../../images/logo.png', height:'120px', width:'150px', color:'black'}) %>
			</div>
			<div class="col-sm-8">
				<h4 class="text-center">
					<%= i18n("global.messages.welcome", {name: req.session.passport.user.name})  %>
				</h4>
			</div>
		</div>
	</div>
</div>
