.alternative
{
  padding: 7px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
}

.glyphicon-move.order_alternative
{
  cursor: move;
}

.input_alternative 
{
  max-width:95%;
  float:right
}

.blank {
	background-color: #2B65EC;
	width: 900px;
	height: 20px;
}

