/* basic positioning */
.legend_questions  { float: left; margin-right: 10px; }
.legend_questions  { border: 1px solid #ccc; float: left; width: 100%; height: 25px; margin: 2px; }
/* your colors */
.valid { background-color: #dff0d8; }
.pending { background-color: #faebcc; }
